body { font-family: Arial, sans-serif; padding: 20px; }
h1 { color: #2c3e50; }
form { margin-bottom: 20px; }
.question { margin-bottom: 5px; font-weight: 400;}
.questionBlock { margin-bottom: 15px; }
.quizBlock { margin-bottom: 15px; }
button { padding: 10px 10px; margin-right: 5px; font-size: 16px; }